body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-image: url('skyimage.jpg');
}

#pyramids-coordinates {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.dot {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: twinkling 1s infinite alternate;
  transition: transform 0.2s ease-in-out; /* Add transition for zoom motion */
}


@keyframes twinkling {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.info-box {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  display: none;
}

.info-box h2 {
  margin-top: 0;
}

.info-box p {
  margin-bottom: 0;
}

.date-selector {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

label {
  color: #fff;
  font-size: 18px;
}

input[type="date"] {
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.big-dipper {
  background-color: yellow; /* Example color for Ursa Major dots */
}

.little-dipper {
  background-color: green; /* Example color for Ursa Minor dots */
}

.bright-star {
  background-color: #fff; /* White color for bright stars */
  border-radius: 50%; /* Rounded shape for stars */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect for stars */
}

.center-link {
  position: fixed;
  top: 20px; /* Adjust top offset for desired position */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px; /* Adjust font size to make it smaller */
  text-decoration: none;
  color: #fff;
  padding: 5px 10px; /* Adjust padding for smaller size */
  border: none; /* Remove the border */
  background-color: transparent; /* Make background transparent */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Add color transition */
  z-index: 1000;
}

.center-link:hover {
  color: #ddd; /* Change color on hover */
  transform: translate(-50%, -3%) scale(1.05); /* Adjust hover transformation */
}